@use "../abstracts/" as *;

html {
  font-family: $main-font-family, "Calibri";

  scroll-behavior: smooth;
}

body {
  color: $grayish-blue;
  background-color: $very-light-gray;
  font-weight: $normal;
  font-size: $fs-default;
}
